<h1>All Articles</h1>
<ol>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article.id) %></li>
  <% end %>
</ol>

<p><%= link_to "Create a new article", new_article_path() %></p>
